/* ___________ */

.pay-1 {
    background-image: url("../Website/Photo/Rap and Hip-Hop/QuavoHuncho-2.jpg");
}

.pay-22 {
    background-image: url("../Website/Photo/Editorial/Dr.Jackson.jpg");
}

.pay-3 {
    background-image: url("../Website/Photo/Rap and Hip-Hop/Instant Film/conwayparty20.jpg");
}

.pay-4 {
    background-image: url("../Website/Photo/Editorial/BLACK\ MADONNA.jpg");
}

.pay-5 {
    background-image: url("../Website/3D GIF/smooky1.gif");
}

.pay-11 {
    background-image: url("../Website/Photo/Editorial/badwitch\ \(2\ of\ 2\).jpg");
}

.pay-7 {
    background-image: url("../Website/Photo/Editorial/paigewitch.jpg");
}

.pay-8 {
    background-image: url("../Website/Photo/Editorial/khouna\ \(1\ of\ 1\).jpg");
}

.pay-9 {
    background-image: url("../Website/Photo/Rap and Hip-Hop/rich6-15 (9 of 150).jpg");
}

.pay-10 {
    background-image: url("../Website/Photo/Rap and Hip-Hop/Instant Film/DrZeusinstax2.jpg");
}
.pay-6 {
    background-image: url("../Website/Photo/Editorial/1.jpg");
}

.pay-12 {
    background-image: url("../Website/Photo/Editorial/rshad.jpg");
}

.pay-13 {
    background-image: url("../Website/Photo/Editorial/Olive5.jpg");
}
.pay-14 {
    background-image: url("../Website/Photo/Editorial/kaylin-40.jpg");
}
.pay-15 {
    background-image: url("../Website/Photo/Rap and Hip-Hop/Instant Film/sheffg004.jpg");
}
.pay-16 {
    background-image: url("../Website/Photo/Editorial/3.jpg");
}
.pay-24 {
    background-image: url("../Website/Photo/Editorial/Olive2.jpg");
}
.pay-18 {
    background-image: url("../Website/Photo/Editorial/paigewitch.jpg");
}
.pay-19 {
    background-image: url("../Website/Photo/Editorial/Dr.Jackson.jpg");
}
.pay-20 {
    background-image: url("../Website/Photo/Editorial/maxwellb\ \(2\ of\ 2\).jpg");
}
.pay-21 {
    background-image: url("../Website/Photo/Editorial/4.jpg");
}
.pay-22 {
    background-image: url("../Website/Photo/Editorial/2.jpg");
}
.pay-23 {
    background-image: url("../Website/Photo/Editorial/insta-13.jpg");
}
.pay-17 {
    background-image: url("../Website/Photo/Editorial/Grew\ apart.jpg");
}
.pay-25 {
    background-image: url("../Website/Photo/Editorial/insta-27.jpg");
}
.pay-2 {
    background-image: url("../Website/Photo/Editorial/isabel-32.jpg");
}
.pay-27 {
    background-image: url("../Website/Photo/Editorial/insta-27.jpg");
}
.pay-28 {
    background-image: url("../Website/Photo/Editorial/insta-13.jpg");
}

.pac-1 {
    background-image: url("../Website/Photo/Rap and Hip-Hop/QuavoHuncho-2.jpg");
}

.pac-2 {
    background-image: url("../Website/Photo/Rap and Hip-Hop/Instant Film/conwayparty20.jpg");
}

.pac-3 {
    background-image: url("../Website/3D GIF/adamhamp.gif");
}

.pac-4 {
    background-image: url("../Website/Photo/Rap and Hip-Hop/TakeOff.jpg");
}

.pac-5 {
    background-image: url("../Website/Photo/Rap and Hip-Hop/QuavoHuncho-7.jpg");
}

.pac-6 {
    background-image: url("../Website/3D GIF/smooky1.gif");
}

.pac-7 {
    background-image: url("../Website/Photo/Rap and Hip-Hop/rich6-15 (9 of 150).jpg");
}

.pac-8 {
    background-image: url("../Website/Photo/Rap and Hip-Hop/TakeOff-2.jpg");
}

.pac-9 {
    background-image: url("../Website/3D GIF/tdott1.gif");
}

.pac-10 {
    background-image: url("../Website/Photo/Rap and Hip-Hop/Instant Film/toryinstax.jpg");
}
.pac-11 {
    background-image: url("../Website/3D GIF/combsstudio15.gif");
}

.pac-12 {
    background-image: url("../Website/Photo/Editorial/rshad.jpg");
}

.pac-13 {
    background-image: url("../Website/Photo/Rap and Hip-Hop/YRN (112 of 119).jpg");
}
.pac-14 {
    background-image: url("../Website/Photo/Editorial/kaylin-40.jpg");
}
.pac-15 {
    background-image: url("../Website/Photo/Editorial/5.jpg");
}
.pac-16 {
    background-image: url("../Website/Photo/Editorial/3.jpg");
}
.pac-17 {
    background-image: url("../Website/Photo/Editorial/Olive2.jpg");
}
.pac-18 {
    background-image: url("../Website/Photo/Rap and Hip-Hop/Instant Film/fettyinstax3.jpg");
}
.pac-19 {
    background-image: url("../Website/Photo/Editorial/Dr.Jackson.jpg");
}
.pac-20 {
    background-image: url("../Website/Photo/Rap and Hip-Hop/sheffg.jpg");
}
.pac-21 {
    background-image: url("../Website/Photo/Rap and Hip-Hop/Instant Film/fettyinstax2.jpg");
}
.pac-22 {
    background-image: url("../Website/Photo/Editorial/2.jpg");
}
.pac-23 {
    background-image: url("../Website/Photo/Editorial/insta-13.jpg");
}
.pac-24 {
    background-image: url("../Website/Photo/Editorial/Grew\ apart.jpg");
}
.pac-25 {
    background-image: url("../Website/Photo/Rap and Hip-Hop/Instant Film/ellianteinstax1.jpg");
}
.pac-26 {
    background-image: url("../Website/Photo/Editorial/isabel-32.jpg");
}
.pac-27 {
    background-image: url("../Website/Photo/Editorial/insta-27.jpg");
}
.pac-28 {
    background-image: url("../Website/Photo/Editorial/insta-13.jpg");
}
